@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body {
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
}

* {
  text-decoration: none;
  list-style: none;
}

.header {
  background: url(../img/header-bg.jpg) no-repeat;
  background-position: center;
  background-size: auto;
  width: 100%;
}

.header-body {
  width: 100%;
}

.header-head {
  width: 100%;
}

.header-head .header-contact {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header-head .header-contact .header-tel-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
}

.header-head .header-contact .header-tel-block .header-tel-link {
  display: block;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
  padding: 0 20px;
}

.header-head .header-contact .header-tel-block .header-tel-link:hover {
  opacity: 0.6;
}

.header-head .header-contact .header-tel-block .header-mail-link {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 20px;
}

.header-head .header-contact .header-tel-block .header-mail-link:hover {
  opacity: 0.6;
}

.header-head .header-contact .header-sing-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.9);
  padding-right: 50px;
}

.header-head .header-contact .header-sing-block .header-soc {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-head .header-contact .header-sing-block .header-soc__link {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.9);
  margin: 0 5px;
  padding: 5px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-head .header-contact .header-sing-block .header-soc__link:hover {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 2px 15px 1px #fff;
          box-shadow: 0px 2px 15px 1px #fff;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.header-head .header-contact .header-sing-block .header-sing {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 20px;
}

.header-head .header-contact .header-sing-block .header-sing__link {
  color: rgba(255, 255, 255, 0.9);
}

.header-head .header-contact .header-sing-block .header-sing__link:hover {
  opacity: 0.6;
}

.header-head .header-contact .header-sing-block .header-currency {
  padding: 0 20px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.header-head .header-contact .header-sing-block .header-currency:after {
  content: '\203A';
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 4px;
  top: -35%;
  font-size: 25px;
}

.header-head .header-contact .header-sing-block .header-currency:hover {
  opacity: 0.6;
}

.header-top {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
}

.header-top .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top .header-logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 40px;
}

.header-top .header-logo__link span {
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
}

.header-top .header-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .header-search-form__area {
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 0;
}

.header-top .header-search-form__label {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-left: 50px;
}

.header-top .header-search-form__btn {
  border: none;
  color: #fff;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.header-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-menu .header-navbar {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-menu .header-navbar__link {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.05s ease;
  transition: all 0.05s ease;
}

.header-menu .header-navbar__link:hover {
  opacity: 0.7;
}

.header-menu .header-navbar__link:after {
  content: '\203A';
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -20px;
  top: -30%;
  font-size: 25px;
}

.header-menu .header-navbar__icon {
  display: inline-block;
  color: #fff;
  font-weight: 400;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header-menu .header-navbar__icon:hover {
  opacity: 0.7;
}

.header-content {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.header-content .header-title {
  font-size: 60px;
  font-weight: 300;
  color: #fff;
}

.header-content .header-text {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}

.tour {
  width: 100%;
  position: relative;
  top: -150px;
}

.tour .tour-search {
  width: 80%;
  margin: 0 auto;
}

.tour .tour-search-header {
  width: 100%;
  padding-bottom: 40px;
}

.tour .tour-search-navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tour .tour-search-navbar .tour-search-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-right: 60px;
}

.tour .tour-search-navbar .tour-search-link i {
  font-size: 30px;
  margin-right: 15px;
}

.tour .tour-search-content {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 14px 50px 0px rgba(32, 32, 32, 0.15);
          box-shadow: 0px 14px 50px 0px rgba(32, 32, 32, 0.15);
}

.tour .tour-search-content .tour-form-row {
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tour .tour-search-content .tour-form-row .tour-search-block {
  -ms-flex-preferred-size: 29%;
      flex-basis: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tour .tour-search-content .tour-form-row .tour-search-block .tour-search {
  display: none;
}

.tour .tour-search-content .tour-form-row .tour-search-block .tour__search {
  color: rgba(0, 0, 0, 0.6);
}

.tour .tour-search-content .tour-form-row .tour-search-block .date__link {
  display: inline-block;
  margin-top: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
  padding-bottom: 15px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.tour .tour-search-content .tour-form-row .tour-search-block .date__link i {
  color: #297cbb;
  margin-right: 10px;
}

.tour .tour-search-content .tour-form-row .tour-search-block .date__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.tour-date-block {
  -ms-flex-preferred-size: 29%;
      flex-basis: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tour-date-block .tour-date {
  margin-top: 20px;
}

.tour-type-block {
  -ms-flex-preferred-size: 29%;
      flex-basis: 29%;
}
/*# sourceMappingURL=style.css.map */