@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body {
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
}

.wrap {
  max-width: 1320px;
  margin: 0 auto;
}

.title-block {
  text-align: center;
  padding: 30px 0;
}

.title-block .title {
  font-weight: 500;
  font-size: 30px;
  padding: 30px 0;
  padding-top: 0;
  position: relative;
}

.title-block .title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 20px);
  width: 45px;
  height: 2px;
  border-radius: 2px;
  background-color: rgba(41, 124, 187, 0.7);
}

.item-block {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  border-radius: 5px;
  position: relative;
}

.item-block:after {
  content: '';
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e2022), color-stop(50%, transparent));
  background: linear-gradient(180deg, #1e2022 0%, transparent 50%);
  border-radius: 5px;
}

.item-block:hover:after {
  background: -webkit-gradient(linear, left top, left bottom, from(#1e2022), color-stop(75%, transparent));
  background: linear-gradient(180deg, #1e2022 0%, transparent 75%);
}

.item-block:hover .content-list {
  display: block;
}

.content-block {
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-block .content-title {
  color: #fff;
  padding-bottom: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
}

.content-block .content-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
}

.content-block .content-list {
  padding-top: 20px;
  display: none;
}

.content-block .content-list .content-link {
  color: #fff;
  display: inline-block;
  margin: 5px 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.content-block .content-list .content-link:hover {
  color: #297cbb;
}

.hover-translate:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.hover-shadow:hover {
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.8);
}

.gray-light {
  color: #67747c;
}

.contact-blocks-title {
  display: block;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #3b444f;
}

.contact-blocks-link {
  display: block;
  padding: 7px 0;
}

.contact-blocks-link:hover {
  color: #297cbb;
  text-decoration: underline;
}

* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  background: url(../img/header-bg.jpg) no-repeat;
  background-position: center;
  background-size: auto;
  width: 100%;
}

.header-body {
  width: 100%;
}

.header-head {
  width: 100%;
}

.header-head .header-contact {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header-head .header-contact .header-tel-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
}

.header-head .header-contact .header-tel-block .header-tel-link {
  display: block;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
  padding: 0 20px;
}

.header-head .header-contact .header-tel-block .header-tel-link:hover {
  opacity: 0.6;
}

.header-head .header-contact .header-tel-block .header-mail-link {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 20px;
}

.header-head .header-contact .header-tel-block .header-mail-link:hover {
  opacity: 0.6;
}

.header-head .header-contact .header-sing-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.9);
  padding-right: 50px;
}

.header-head .header-contact .header-sing-block .header-soc {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-head .header-contact .header-sing-block .header-soc__link {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.9);
  margin: 0 5px;
  padding: 5px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-head .header-contact .header-sing-block .header-soc__link:hover {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 2px 15px 1px #fff;
          box-shadow: 0px 2px 15px 1px #fff;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.header-head .header-contact .header-sing-block .header-sing {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 20px;
}

.header-head .header-contact .header-sing-block .header-sing__link {
  color: rgba(255, 255, 255, 0.9);
}

.header-head .header-contact .header-sing-block .header-sing__link:hover {
  opacity: 0.6;
}

.header-head .header-contact .header-sing-block .header-currency {
  padding: 0 20px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.header-head .header-contact .header-sing-block .header-currency:after {
  content: '\203A';
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 4px;
  top: -35%;
  font-size: 25px;
}

.header-head .header-contact .header-sing-block .header-currency:hover {
  opacity: 0.6;
}

.header-top {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
}

.header-top .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top .header-logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 40px;
}

.header-top .header-logo__link span {
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
}

.header-top .header-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .header-search-form__area {
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 0;
}

.header-top .header-search-form__label {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-left: 50px;
}

.header-top .header-search-form__btn {
  border: none;
  color: #fff;
  background: transparent;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.header-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-menu .header-navbar {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-menu .header-navbar__link {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.05s ease;
  transition: all 0.05s ease;
}

.header-menu .header-navbar__link:hover {
  opacity: 0.7;
}

.header-menu .header-navbar__link:after {
  content: '\203A';
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -20px;
  top: -30%;
  font-size: 25px;
}

.header-menu .header-navbar__icon {
  display: inline-block;
  color: #fff;
  font-weight: 400;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header-menu .header-navbar__icon:hover {
  opacity: 0.7;
}

.header-content {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.header-content .header-title {
  font-size: 60px;
  font-weight: 300;
  color: #fff;
}

.header-content .header-text {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}

.tour {
  width: 100%;
  position: absolute;
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
}

.tour .tour-search {
  width: 80%;
  margin: 0 auto;
}

.tour .tour-search-header {
  width: 100%;
  padding-bottom: 40px;
}

.tour .tour-search-navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tour .tour-search-navbar .tour-search-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-right: 60px;
}

.tour .tour-search-navbar .tour-search-link i {
  font-size: 30px;
  margin-right: 15px;
}

.tour .tour-search-content {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 14px 50px 0px rgba(32, 32, 32, 0.15);
          box-shadow: 0px 14px 50px 0px rgba(32, 32, 32, 0.15);
}

.tour .tour-search-content .tour-form-row {
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tour .tour-search-content .tour-form-row .tour-search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tour .tour-search-content .tour-form-row .tour-search-block .tour-search {
  display: none;
}

.tour .tour-search-content .tour-form-row .tour-search-block .tour__search {
  color: rgba(0, 0, 0, 0.6);
}

.tour .tour-search-content .tour-form-row .tour-search-block .date__link {
  display: inline-block;
  margin-top: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
  padding-bottom: 15px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.tour .tour-search-content .tour-form-row .tour-search-block .date__link i {
  color: #297cbb;
  margin-right: 10px;
}

.tour .tour-search-content .tour-form-row .tour-search-block .date__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.tour-date-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tour-date-block .tour-date {
  margin-top: 20px;
}

.tour-search__btn {
  height: 60px;
  color: #fff;
  background: #297cbb;
  border: none;
  border-radius: 5px;
  padding: 0 40px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.tour-search__btn:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.destination {
  width: 100%;
  border-bottom: 1px solid rgba(119, 131, 143, 0.1);
  padding-bottom: 50px;
  padding-top: 150px;
}

.destination-top-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.destination-top-item .destination-item_1, .destination-top-item .destination-item_2 {
  width: 49%;
  height: 350px;
  background: url(../img/destination/london.jpg);
  position: relative;
}

.destination-top-item .destination-item_2 {
  background: url(../img/destination/spain.jpg);
}

.destination-bottom-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.destination-bottom-item .destination-item_1, .destination-bottom-item .destination-item_2, .destination-bottom-item .destination-item_3, .destination-bottom-item .destination-item_4 {
  width: 24%;
  height: 350px;
}

.destination-bottom-item .destination-item_1 {
  background: url(../img/destination/us.jpg);
  background-size: cover;
  background-position: center;
}

.destination-bottom-item .destination-item_2 {
  background: url(../img/destination/ukraine.jpg);
  background-size: cover;
  background-position: center;
}

.destination-bottom-item .destination-item_3 {
  background: url(../img/destination/france.jpg);
  background-size: cover;
  background-position: center;
}

.destination-bottom-item .destination-item_4 {
  background: url(../img/destination/india.jpg);
  background-size: cover;
  background-position: center;
}

.trending {
  width: 100%;
}

.trending .trending-navbar {
  width: 100%;
}

.trending .trending-navbar .trending-list-block {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px 0;
}

.trending .trending-navbar .trending-list-block .trending-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trending .trending-navbar .trending-list-block .trending-list-link {
  color: #3b444f;
  font-weight: 600;
}

.trending-item {
  min-height: 920px;
}

.trending-item-content {
  position: relative;
}

.trending-item-content .trending-content-row {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trending-item-content .trending-content-row_opacity-0 {
  visibility: hidden;
}

.trending-item-content .trending-content-row .trending-content-block {
  width: 300px;
  margin: 10px 0;
}

.trending-content-block-top {
  height: 220px;
  background-size: cover;
  position: relative;
}

.trending-content-block-top:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e2022), color-stop(75%, transparent));
  background: linear-gradient(#1e2022 0%, transparent 75%);
  bottom: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 1;
}

.trending-content-block-top .trending-content-top-link {
  display: block;
  width: 100%;
  height: 100%;
}

.trending-content-block-top .trending-content-top-offer {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 2;
}

.trending-content-block-top .trending-content-top-offer .trending-content-top__feature {
  display: inline-block;
  color: #297cbb;
  background-color: #fff;
  padding: 7px 17px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 400;
}

.trending-content-block-top .trending-content-top-offer .trending-content-top__discount {
  display: inline-block;
  margin-left: 15px;
  color: #de4437;
  background-color: #fff;
  padding: 7px 17px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 400;
}

.trending-content-block-top .trending-content-top-like {
  position: absolute;
  top: 35px;
  right: 30px;
  z-index: 2;
}

.trending-content-block-top .trending-content-top-like .trending-content-top__button {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.trending-content-block-top .trending-content-top-price {
  position: absolute;
  width: 100%;
  left: 10px;
  bottom: 10px;
  color: #fff;
  z-index: 2;
}

.trending-content-block-top .trending-content-top-price .trending-content-top__type {
  display: block;
  padding-bottom: 5px;
}

.trending-content-block-top .trending-content-top-price .trending-content-top__price {
  display: block;
  font-size: 15px;
  font-weight: 400;
}

.trending-content-block-top .trending-content-top-price .trending-content-top__price span {
  font-size: 20px;
  font-weight: 600;
}

.trending-content-block-bottom {
  height: 220px;
  padding: 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.trending-content-block-bottom .trending-content-bottom__location {
  display: inline-block;
  margin-top: 20px;
  color: #67747c;
  font-size: 15px;
}

.trending-content-block-bottom .trending-content-bottom__heading {
  display: inline-block;
  margin: 15px 0;
  color: #3b444f;
  font-size: 19px;
  font-weight: 500;
}

.trending-content-block-bottom .trending-content-bottom__heading:hover {
  color: #297cbb;
}

.trending-content-block-bottom .trending-content-bottom-feedback {
  padding-bottom: 10px;
}

.trending-content-block-bottom .trending-content-bottom-feedback .trending-bottom-feedback__star {
  display: inline-block;
  padding: 0 1px;
  color: #b0d12b;
}

.trending-content-block-bottom .trending-content-bottom-feedback .trending-bottom-feedback__review {
  font-size: 15px;
  color: #77838f;
}

.trending-content-block-bottom .trending-content-bottom__direction {
  font-size: 15px;
  color: #77838f;
}

.tips {
  width: 100%;
  padding: 30px 0;
}

.tips .travel-tips {
  width: 100%;
  background: url(../img/travel-baner.jpg) no-repeat;
  background-size: cover;
  padding: 120px 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

.tips .travel-tips:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.tips .travel-tips .travel-tips-block {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  z-index: 3;
}

.tips .travel-tips .travel-tips-block .travel-tips__heading {
  font-size: 40px;
  font-weight: 500;
  color: #fff;
  z-index: 3;
}

.tips .travel-tips .travel-tips-block .travel-tips__info {
  line-height: 1.5;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  margin: 30px 0;
  z-index: 3;
}

.tips .travel-tips .travel-tips-block .travel-tips__link {
  display: inline-block;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 15px 40px;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.tips .travel-tips .travel-tips-block .travel-tips__link:hover {
  background-color: #fff;
  color: #000;
}

.choose {
  border-bottom: 1px solid rgba(119, 131, 143, 0.1);
  padding-bottom: 50px;
}

.choose-item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choose-item-row .choose-item-block {
  width: calc(100% / 3);
  text-align: center;
  margin: 0 35px;
}

.choose-item-row .choose-item-block__icon {
  display: block;
  font-size: 5rem;
  color: #297cbb;
}

.choose-item-row .choose-item-block__link {
  display: block;
  margin: 20px 0;
  font-size: 17px;
  font-weight: 500;
  color: #3b444f;
}

.choose-item-row .choose-item-block__link:hover {
  color: #297cbb;
}

.choose-item-row .choose-item-block__text {
  color: #67747c;
  line-height: 1.7;
}

.top-deals {
  border-bottom: 1px solid rgba(119, 131, 143, 0.1);
  padding-bottom: 50px;
}

.top-deals-slider-block {
  width: 100%;
}

.top-deals-slider-block .slider-wrap {
  position: relative;
  height: 400px;
}

.top-deals-slider-block .slider-wrap .slider_prev, .top-deals-slider-block .slider-wrap .slider_next {
  height: inherit;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 40px;
  height: 40px;
  left: -60px;
  top: calc(50% - 35px);
  color: #297cbb;
  background-color: #ebf0f7;
  border-radius: 50%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.top-deals-slider-block .slider-wrap .slider_prev:hover, .top-deals-slider-block .slider-wrap .slider_next:hover {
  color: #fff;
  background-color: #297cbb;
}

.top-deals-slider-block .slider-wrap .slider_next {
  left: calc(100% + 20px);
}

.top-deals-slider-block .slider-wrap .slider {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-deals-slider-block .slider-wrap .slider .slider-dial-block {
  width: 400px;
  height: inherit;
  margin: 40px 20px 0 20px;
}

.top-deals-slider-block .slider-wrap .slider .slider-dial-block .deal-img-block {
  height: 270px;
  border-radius: 3px;
}

.top-deals-slider-block .slider-wrap .slider .slider-dial-block .deal-img-block .deal-image {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.top-deals-slider-block .slider-wrap .slider .deal-info-block .deal-info__link_1 {
  display: block;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 17px;
  color: #3b444f;
  font-weight: 500;
  -webkit-transform: 0.5s ease;
          transform: 0.5s ease;
}

.top-deals-slider-block .slider-wrap .slider .deal-info-block .deal-info__link_1:hover {
  color: #297cbb;
}

.top-deals-slider-block .slider-wrap .slider .deal-info-block .deal-info__link_2 {
  display: block;
  color: #67747c;
}

.contact {
  width: 100%;
  padding: 50px 0;
  border-bottom: 1px solid rgba(119, 131, 143, 0.1);
}

.contact .contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .contact-block .contact-help {
  width: 23%;
}

.contact .contact-block .contact-help .help-phone .help-link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact-block .contact-help .help-phone .help-link-block i {
  display: inline-block;
  font-size: 40px;
  color: #297cbb;
}

.contact .contact-block .contact-help .help-phone .help-link-block .help-link__number {
  margin-left: 20px;
  font-size: 18px;
}

.contact .contact-block .contact-help .help-phone .help-link-block .help-link__number span {
  display: block;
  padding-top: 10px;
  color: #297cbb;
}

.contact .contact-block .contact-help .help-phone .help-link-block .help-link__number span b {
  font-weight: 500;
}

.contact .contact-block .contact-help .contact-info {
  display: block;
  margin: 20px 0;
}

.contact .contact-block .contact-help .contact-info .info-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.contact .contact-block .contact-help .contact-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact-block .contact-help .contact-soc__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  color: #67747c;
  border: 2px solid rgba(103, 116, 124, 0.2);
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact .contact-block .contact-help .contact-soc__link:hover {
  background-color: #297cbb;
  border-color: #297cbb;
  color: #fff;
}

.contact .contact-block .contact-mailing {
  width: 25%;
}

.contact .contact-block .contact-mailing .mailing-text {
  font-size: 16px;
  line-height: 1.7;
}

.contact .contact-block .contact-mailing .mailing-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.contact .contact-block .contact-mailing .mailing-form__mail {
  border: none;
  border: 2px solid rgba(103, 116, 124, 0.2);
  border-radius: 3px;
  padding: 20px 0 20px 20px;
}

.contact .contact-block .contact-mailing .mailing-form__mail::-webkit-input-placeholder {
  color: rgba(103, 116, 124, 0.9);
  font-size: 14px;
}

.contact .contact-block .contact-mailing .mailing-form__mail:-ms-input-placeholder {
  color: rgba(103, 116, 124, 0.9);
  font-size: 14px;
}

.contact .contact-block .contact-mailing .mailing-form__mail::-ms-input-placeholder {
  color: rgba(103, 116, 124, 0.9);
  font-size: 14px;
}

.contact .contact-block .contact-mailing .mailing-form__mail::placeholder {
  color: rgba(103, 116, 124, 0.9);
  font-size: 14px;
}

.contact .contact-block .contact-mailing .mailing-form__btn {
  background-color: #1d508d;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: 500;
  margin-left: 15px;
  padding: 0 15px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact .contact-block .contact-mailing .mailing-form__btn:hover {
  -webkit-box-shadow: 0 4px 11px rgba(29, 80, 141, 0.35);
          box-shadow: 0 4px 11px rgba(29, 80, 141, 0.35);
}
/*# sourceMappingURL=style.css.map */