@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
}

body.scroll-stop {
  overflow: hidden;
}

.wrap {
  max-width: 1320px;
  margin: 0 auto;
}

button, input {
  outline: none;
}

@media (max-width: 1370px) {
  .wrap {
    max-width: 1300px;
    padding: 0 20px;
  }
}

.title-block {
  text-align: center;
  padding: 30px 0;
}

.title-block .title {
  font-weight: 500;
  font-size: 30px;
  padding: 30px 0;
  padding-top: 0;
  position: relative;
}

.title-block .title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 20px);
  width: 45px;
  height: 2px;
  border-radius: 2px;
  background-color: rgba(41, 124, 187, 0.7);
}

.item-block {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  border-radius: 5px;
  position: relative;
}

.item-block:after {
  content: '';
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e2022), color-stop(50%, transparent));
  background: linear-gradient(180deg, #1e2022 0%, transparent 50%);
  border-radius: 5px;
}

.item-block:hover:after {
  background: -webkit-gradient(linear, left top, left bottom, from(#1e2022), color-stop(75%, transparent));
  background: linear-gradient(180deg, #1e2022 0%, transparent 75%);
}

.item-block:hover .content-list {
  display: block;
}

.content-block {
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-block .content-title {
  color: #fff;
  padding-bottom: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
}

.content-block .content-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
}

.content-block .content-list {
  padding-top: 20px;
  display: none;
}

.content-block .content-list .content-link {
  color: #fff;
  display: inline-block;
  margin: 5px 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.content-block .content-list .content-link:hover {
  color: #297cbb;
}

.hover-translate:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.hover-shadow:hover {
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.8);
}

.gray-light {
  color: #67747c;
}

.contact-blocks-title {
  display: block;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #3b444f;
}

.contact-blocks-link {
  display: block;
  padding: 7px 0;
}

.contact-blocks-link:hover {
  color: #297cbb;
  text-decoration: underline;
}

* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

*::-moz-selection {
  background-color: #297cbb;
  color: #fff;
}

*::selection {
  background-color: #297cbb;
  color: #fff;
}

section {
  width: 100%;
  height: 100%;
}

.header {
  background: url(../img/header-bg.jpg) no-repeat;
  background-position: center;
  background-size: auto;
  width: 100%;
}

.header-body {
  width: 100%;
}

.header-head {
  width: 100%;
}

.header-head .header-contact {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header-head .header-contact .header-tel-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
}

.header-head .header-contact .header-tel-block .header-tel-link {
  display: block;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
  padding: 0 20px;
}

.header-head .header-contact .header-tel-block .header-tel-link:hover {
  opacity: 0.6;
}

.header-head .header-contact .header-tel-block .header-mail-link {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 20px;
}

.header-head .header-contact .header-tel-block .header-mail-link:hover {
  opacity: 0.6;
}

.header-head .header-contact .header-sing-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.9);
  padding-right: 50px;
}

.header-head .header-contact .header-sing-block .header-soc {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-head .header-contact .header-sing-block .header-soc__link {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.9);
  margin: 0 5px;
  padding: 5px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-head .header-contact .header-sing-block .header-soc__link:hover {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 2px 15px 1px #fff;
          box-shadow: 0px 2px 15px 1px #fff;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.header-head .header-contact .header-sing-block .header-sing {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 20px;
}

.header-head .header-contact .header-sing-block .header-sing__link {
  color: rgba(255, 255, 255, 0.9);
}

.header-head .header-contact .header-sing-block .header-sing__link:hover {
  opacity: 0.6;
}

.header-head .header-contact .header-sing-block .header-currency {
  padding: 0 20px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.header-head .header-contact .header-sing-block .header-currency:after {
  content: '\203A';
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 4px;
  top: -35%;
  font-size: 25px;
}

.header-head .header-contact .header-sing-block .header-currency-list {
  position: absolute;
  top: 80px;
  right: 0;
  background-color: #fff;
  padding: 5px 17px;
  border-radius: 5px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
}

.header-head .header-contact .header-sing-block .header-currency-list:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  opacity: 0;
}

.header-head .header-contact .header-sing-block .header-currency-list.active {
  top: 30px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.header-head .header-contact .header-sing-block .header-currency-list.active:after {
  opacity: 1;
  top: -17px;
  right: 7px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.header-head .header-contact .header-sing-block .header-currency-list .header-currency__link {
  display: block;
  margin: 5px 0;
  color: #77838f;
}

.header-head .header-contact .header-sing-block .header-currency-list .header-currency__link:hover {
  color: #297cbb;
}

.header-head .header-contact .header-sing-block .header-currency-list .header-currency__link.checked {
  color: #297cbb;
}

.header-head .header-contact .header-sing-block .header-currency-link {
  padding: 25px 5px;
}

.header-head .header-contact .header-sing-block .header-currency-link:hover {
  opacity: 0.6;
}

.header-top {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
}

.header-top .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top .header-logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 40px;
}

.header-top .header-logo__link span {
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
}

.header-top .header-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .header-search-form__area {
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 0;
}

.header-top .header-search-form__btn {
  border: none;
  color: #fff;
  background: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-left: 30px;
  cursor: pointer;
}

.header-top .header-search-form__btn > i {
  margin-left: 50px;
  font-size: 20px;
  margin-left: 10px;
}

.header-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-menu .header-navbar {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu .header-navbar__link {
  display: block;
  color: #fff;
  font-weight: 500;
  padding: 10px;
  position: relative;
  -webkit-transition: all 0.05s ease;
  transition: all 0.05s ease;
}

.header-menu .header-navbar__link:hover {
  opacity: 0.7;
}

.header-menu .header-navbar__link:after {
  content: '\203A';
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -20px;
  top: 10%;
  font-size: 25px;
}

.header-menu .header-navbar__icon {
  display: block;
  color: #fff;
  font-weight: 400;
  margin-left: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header-menu .header-navbar__icon:hover {
  opacity: 0.7;
}

.burer-menu {
  display: none;
}

.header-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.header-content__title-block {
  padding: 150px 0;
  padding-bottom: 250px;
}

.header-content .header-title {
  font-size: 60px;
  font-weight: 300;
  color: #fff;
}

.header-content .header-text {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}

.header-navbar-hidden-block {
  background-color: #fff;
  min-width: 150px;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-transform: translate(-105px, 50px) scale(0);
          transform: translate(-105px, 50px) scale(0);
  opacity: 0;
  position: absolute;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.header-navbar-hidden-block.showed {
  -webkit-transform: translate(-105px, 25px) scale(1);
          transform: translate(-105px, 25px) scale(1);
  opacity: 1;
}

.header-navbar-hidden-block.showed:after {
  top: -18px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.header-navbar-hidden-block:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.header-navbar-hidden-block .navbar-hidden__link {
  color: #77838f;
  border-bottom: 1px solid rgba(103, 116, 124, 0.2);
  display: block;
  font-size: 17px;
  font-weight: 400;
  padding: 2px 0;
  margin: 15px 0;
}

.header-navbar-hidden-block .navbar-hidden__link:hover {
  color: rgba(29, 80, 141, 0.9);
}

@media (max-width: 1500px) {
  .header-navbar {
    width: 100%;
  }
}

@media (max-width: 1270px) {
  .header-menu .header-navbar {
    width: 100%;
    padding: 20px 0;
  }
}

@media (max-width: 1200px) {
  .header-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header-head .header-menu {
    position: absolute;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    top: 80px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 5;
  }
  .header-head .header-menu .header-navbar {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-head .header-menu .header-navbar > li {
    display: block;
    width: 100%;
  }
  .header-head .header-menu .header-navbar__link {
    display: block;
    width: 100%;
    color: #67747c;
    margin: 5px 0;
    margin-left: 20px;
  }
  .header-head .header-menu .header-navbar__link:hover {
    color: #297cbb;
  }
  .header-head .header-menu .header-navbar__link:after {
    right: 20px;
    right: 80px;
  }
  .header-head .header-menu .header-navbar__icon {
    display: none;
  }
  .header-head .header-menu_open {
    height: 100vh;
    opacity: 1;
    visibility: visible;
  }
  .header-head .burger-menu {
    display: block;
    width: 25px;
    height: 14px;
    margin-right: 20px;
    position: relative;
    z-index: 99;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header-head .burger-menu .burger-line {
    position: absolute;
    top: calc(50% - 1px);
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header-head .burger-menu:before, .header-head .burger-menu:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header-head .burger-menu:before {
    top: 0;
  }
  .header-head .burger-menu:after {
    bottom: 0;
  }
  .header-head .burger-menu_open {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header-head .burger-menu_open:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 6px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header-head .burger-menu_open .burger-line {
    -webkit-transform: translateX(-30px) scale(0);
            transform: translateX(-30px) scale(0);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header-head .burger-menu_open:after {
    bottom: 6px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header-head .header-contact {
    width: 5%;
    border: none;
  }
  .header-head .header-contact .header-tel-block {
    display: none;
  }
  .header-head .header-contact .header-sing-block .header-soc {
    display: none;
  }
  .header-head .header-contact .header-sing-block .header-sing {
    border-right: none;
    padding: 0;
    margin: 0 20px;
  }
  .header-head .header-contact .header-sing-block .header-sing span {
    display: none;
  }
  .header-head .header-contact .header-sing-block .header-currency {
    display: none;
  }
  .header-head .header-top {
    padding-left: 0;
  }
  .header-head .header-top .header-logo__link {
    font-size: 35px;
  }
  .header-head .header-top .header-search {
    display: none;
  }
  .header-content__title-block {
    padding: 20px 0;
    padding-bottom: 400px;
  }
}

.tour {
  width: 100%;
  position: relative;
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
}

.tour .tour-search {
  width: 80%;
  margin: 0 auto;
}

.tour .tour-search-header {
  width: 100%;
  padding-bottom: 40px;
  padding-left: 20px;
}

.tour .tour-search-navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tour .tour-search-navbar .tour-search-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-right: 60px;
}

.tour .tour-search-navbar .tour-search-link i {
  font-size: 30px;
  margin-right: 15px;
}

.tour .tour-search-content {
  min-height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 14px 50px 0px rgba(32, 32, 32, 0.15);
          box-shadow: 0px 14px 50px 0px rgba(32, 32, 32, 0.15);
}

.tour .tour-search-content .tour-form-row {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-link, .date-link, .type-link {
  display: block;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
  padding-bottom: 15px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.search-link__icon, .date-link__icon, .type-link__icon {
  color: #297cbb;
  margin-right: 10px;
}

.search-link:hover .search-link__text {
  opacity: 0.6;
}

.tour-block-search, .tour-block-date, .tour-block-type {
  width: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.tour-block-search .search-title, .tour-block-search .date-title, .tour-block-search .type-title, .tour-block-date .search-title, .tour-block-date .date-title, .tour-block-date .type-title, .tour-block-type .search-title, .tour-block-type .date-title, .tour-block-type .type-title {
  display: block;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

.tour-block-search .search-title:hover, .tour-block-search .date-title:hover, .tour-block-search .type-title:hover, .tour-block-date .search-title:hover, .tour-block-date .date-title:hover, .tour-block-date .type-title:hover, .tour-block-type .search-title:hover, .tour-block-type .date-title:hover, .tour-block-type .type-title:hover {
  color: rgba(0, 0, 0, 0.6);
}

.tour-search__btn {
  height: 60px;
  color: #fff;
  background: #297cbb;
  border: none;
  border-radius: 3px;
  padding: 0 60px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.tour-search__btn:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

@media (max-width: 1270px) {
  .tour .tour-search {
    width: 95%;
  }
  .tour .tour-search .tour-search-header {
    padding-left: 0;
    overflow-x: auto;
  }
  .tour-block-search, .tour-block-date, .tour-block-type {
    margin: 0 10px;
  }
}

@media (max-width: 1200px) {
  .tour .tour-search {
    -webkit-transform: translateY(-170px);
            transform: translateY(-170px);
  }
  .tour .tour-search-content .tour-form-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }
  .tour .tour-search-content .tour-form-row .tour-block-search, .tour .tour-search-content .tour-form-row .tour-block-date, .tour .tour-search-content .tour-form-row .tour-block-type {
    width: 90%;
    margin: 10px 0;
  }
  .tour .tour-search__btn {
    width: 90%;
  }
}

.destination {
  width: 100%;
  border-bottom: 1px solid rgba(119, 131, 143, 0.1);
  padding-bottom: 50px;
  margin-top: -90px;
}

.destination-top-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.destination-top-item .destination-item_1, .destination-top-item .destination-item_2 {
  width: 49%;
  height: 350px;
  background: url(../img/destination/london.jpg);
  position: relative;
}

.destination-top-item .destination-item_2 {
  background: url(../img/destination/spain.jpg);
}

.destination-bottom-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.destination-bottom-item .destination-item_1, .destination-bottom-item .destination-item_2, .destination-bottom-item .destination-item_3, .destination-bottom-item .destination-item_4 {
  width: 24%;
  height: 350px;
}

.destination-bottom-item .destination-item_1 {
  background: url(../img/destination/us.jpg);
  background-size: cover;
  background-position: center;
}

.destination-bottom-item .destination-item_2 {
  background: url(../img/destination/ukraine.jpg);
  background-size: cover;
  background-position: center;
}

.destination-bottom-item .destination-item_3 {
  background: url(../img/destination/france.jpg);
  background-size: cover;
  background-position: center;
}

.destination-bottom-item .destination-item_4 {
  background: url(../img/destination/india.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 1200px) {
  .destination {
    margin-top: -250px;
  }
  .destination-bottom-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .destination-bottom-item .destination-item_1, .destination-bottom-item .destination-item_2, .destination-bottom-item .destination-item_3, .destination-bottom-item .destination-item_4 {
    width: 49%;
    height: 350px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .destination-top-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .destination-top-item .destination-item_1, .destination-top-item .destination-item_2 {
    width: 100%;
    margin-top: 20px;
  }
  .destination-bottom-item .destination-item_1, .destination-bottom-item .destination-item_2, .destination-bottom-item .destination-item_3, .destination-bottom-item .destination-item_4 {
    width: 100%;
  }
}

.trending {
  width: 100%;
  padding-bottom: 30px;
}

.trending .trending-navbar {
  width: 100%;
  overflow-x: hidden;
}

.trending .trending-navbar .trending-list-block {
  max-width: 750px;
  margin: 0 auto;
  padding: 40px 0;
}

.trending .trending-navbar .trending-list-block .trending-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trending .trending-navbar .trending-list-block .trending-list-link {
  color: #3b444f;
  font-weight: 500;
  padding: 10px 20px;
}

.trending .trending-navbar .trending-list-block .trending-list-link.checked {
  background-color: rgba(29, 80, 141, 0.9);
  color: #fff;
  border-radius: 20px;
}

.trending-item {
  height: 100%;
  min-height: 920px;
  position: relative;
}

.trending-item .trending-content-row {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trending-item .trending-content-row_opacity-0 {
  visibility: hidden;
}

.trending-item .trending-content-row .trending-content-block {
  width: 300px;
  margin: 10px 0;
}

.trending-content-block-top {
  height: 220px;
  background-size: cover;
  position: relative;
}

.trending-content-block-top:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e2022), color-stop(75%, transparent));
  background: linear-gradient(#1e2022 0%, transparent 75%);
  bottom: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 1;
}

.trending-content-block-top .trending-content-top-link {
  display: block;
  width: 100%;
  height: 100%;
}

.trending-content-block-top .trending-content-top-offer {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 2;
}

.trending-content-block-top .trending-content-top-offer .trending-content-top__feature {
  display: inline-block;
  color: #297cbb;
  background-color: #fff;
  padding: 7px 17px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 400;
}

.trending-content-block-top .trending-content-top-offer .trending-content-top__discount {
  display: inline-block;
  margin-left: 15px;
  color: #de4437;
  background-color: #fff;
  padding: 7px 17px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 400;
}

.trending-content-block-top .trending-content-top-like {
  position: absolute;
  top: 35px;
  right: 30px;
  z-index: 2;
}

.trending-content-block-top .trending-content-top-like .trending-content-top__button {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.trending-content-block-top .trending-content-top-price {
  position: absolute;
  width: 100%;
  left: 10px;
  bottom: 10px;
  color: #fff;
  z-index: 2;
}

.trending-content-block-top .trending-content-top-price .trending-content-top__type {
  display: block;
  padding-bottom: 5px;
}

.trending-content-block-top .trending-content-top-price .trending-content-top__price {
  display: block;
  font-size: 15px;
  font-weight: 400;
}

.trending-content-block-top .trending-content-top-price .trending-content-top__price span {
  font-size: 20px;
  font-weight: 600;
}

.trending-content-block-bottom {
  height: 220px;
  padding: 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.trending-content-block-bottom .trending-content-bottom__location {
  display: inline-block;
  margin-top: 20px;
  color: #67747c;
  font-size: 15px;
}

.trending-content-block-bottom .trending-content-bottom__heading {
  display: inline-block;
  margin: 15px 0;
  color: #3b444f;
  font-size: 19px;
  font-weight: 500;
}

.trending-content-block-bottom .trending-content-bottom__heading:hover {
  color: #297cbb;
}

.trending-content-block-bottom .trending-content-bottom-feedback {
  padding-bottom: 10px;
}

.trending-content-block-bottom .trending-content-bottom-feedback .trending-bottom-feedback__star {
  display: inline-block;
  padding: 0 1px;
  color: #b0d12b;
}

.trending-content-block-bottom .trending-content-bottom-feedback .trending-bottom-feedback__review {
  font-size: 15px;
  color: #77838f;
}

.trending-content-block-bottom .trending-content-bottom__direction {
  font-size: 15px;
  color: #77838f;
}

@media (max-width: 1370px) {
  .trending-item .trending-content-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .trending-item .trending-content-row .trending-content-block {
    width: 270px;
    margin: 10px 15px;
  }
}

@media (max-width: 1200px) {
  .trending-item {
    min-height: 1400px;
  }
  .trending-item .trending-content-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .trending-item .trending-content-row .trending-content-block {
    width: 320px;
    margin: 10px 15px;
  }
}

@media (max-width: 998px) {
  .trending-item {
    min-height: 1800px;
  }
}

@media (max-width: 768px) {
  .trending {
    width: 100%;
    padding-bottom: 30px;
  }
  .trending .trending-navbar {
    width: 80%;
    margin: 0 auto;
  }
  .trending .trending-navbar .trending-list-block {
    overflow-x: auto;
  }
  .trending .trending-navbar .trending-list-block .trending-list-link {
    margin-left: 10px;
  }
  .trending-item {
    min-height: 3650px;
  }
  .trending-item .trending-content-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .trending-item .trending-content-row .trending-content-block {
    width: 400px;
    margin: 10px 0;
  }
}

@media (max-width: 550px) {
  .trending-item .trending-content-row .trending-content-block {
    width: 300px;
    margin: 10px 0;
  }
}

@media (max-width: 310px) {
  .trending-item .trending-content-row .trending-content-block {
    width: 250px;
    margin: 10px 0;
  }
}

.tips {
  width: 100%;
  padding: 30px 0;
}

.tips .travel-tips {
  width: 100%;
  background: url(../img/travel-baner.jpg) no-repeat;
  background-size: cover;
  padding: 120px 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

.tips .travel-tips:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.tips .travel-tips .travel-tips-block {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  z-index: 3;
}

.tips .travel-tips .travel-tips-block .travel-tips__heading {
  font-size: 40px;
  font-weight: 500;
  color: #fff;
  z-index: 3;
}

.tips .travel-tips .travel-tips-block .travel-tips__info {
  line-height: 1.5;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  margin: 30px 0;
  z-index: 3;
}

.tips .travel-tips .travel-tips-block .travel-tips__link {
  display: inline-block;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 15px 40px;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.tips .travel-tips .travel-tips-block .travel-tips__link:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 1100px) {
  .tips .travel-tips {
    padding: 40px 0;
  }
}

.choose {
  border-bottom: 1px solid rgba(119, 131, 143, 0.1);
  padding-bottom: 50px;
}

.choose-item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choose-item-row .choose-item-block {
  width: calc(100% / 3);
  text-align: center;
  margin: 0 35px;
}

.choose-item-row .choose-item-block__icon {
  display: block;
  font-size: 5rem;
  color: #297cbb;
}

.choose-item-row .choose-item-block__link {
  display: block;
  margin: 20px 0;
  font-size: 17px;
  font-weight: 500;
  color: #3b444f;
}

.choose-item-row .choose-item-block__link:hover {
  color: #297cbb;
}

.choose-item-row .choose-item-block__text {
  color: #67747c;
  line-height: 1.7;
}

@media (max-width: 768px) {
  .choose-item-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .choose-item-row .choose-item-block {
    width: 80%;
    margin: 20px 0;
  }
}

.top-deals {
  border-bottom: 1px solid rgba(119, 131, 143, 0.1);
  padding-bottom: 50px;
}

.top-deals-slider-block {
  width: 100%;
}

.top-deals-slider-block .slider-wrap {
  position: relative;
  height: 440px;
}

.top-deals-slider-block .slider-wrap .slider_prev, .top-deals-slider-block .slider-wrap .slider_next {
  height: inherit;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 40px;
  height: 40px;
  top: calc(50% - 35px);
  color: #297cbb;
  background-color: #ebf0f7;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.top-deals-slider-block .slider-wrap .slider_prev:hover, .top-deals-slider-block .slider-wrap .slider_next:hover {
  color: #fff;
  background-color: #297cbb;
}

.top-deals-slider-block .slider-wrap .slider_prev {
  left: -50px;
}

.top-deals-slider-block .slider-wrap .slider_next {
  right: -50px;
}

.top-deals-slider-block .slider-wrap .slider {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.top-deals-slider-block .slider-wrap .slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -30px;
  left: calc(50% - 100px);
  list-style: none;
}

.top-deals-slider-block .slider-wrap .slider .slick-dots li {
  margin: 0 10px;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: rgba(41, 124, 187, 0.3);
}

.top-deals-slider-block .slider-wrap .slider .slick-dots li.slick-active {
  background-color: transparent;
  border: 2px solid #297cbb;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.top-deals-slider-block .slider-wrap .slider .slick-dots li button {
  opacity: 0;
  display: none;
}

.top-deals-slider-block .slider-wrap .slider .slider-dial-block {
  width: 400px;
  height: inherit;
  margin: 40px 20px 0 20px;
}

.top-deals-slider-block .slider-wrap .slider .slider-dial-block .deal-img-block {
  height: 270px;
  border-radius: 3px;
}

.top-deals-slider-block .slider-wrap .slider .slider-dial-block .deal-img-block .deal-image {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.top-deals-slider-block .slider-wrap .slider .deal-info-block .deal-info__link_1 {
  display: block;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 17px;
  color: #3b444f;
  font-weight: 500;
  -webkit-transform: 0.5s ease;
          transform: 0.5s ease;
}

.top-deals-slider-block .slider-wrap .slider .deal-info-block .deal-info__link_1:hover {
  color: #297cbb;
}

.top-deals-slider-block .slider-wrap .slider .deal-info-block .deal-info__link_2 {
  display: block;
  color: #67747c;
}

@media (max-width: 1450px) {
  .top-deals-slider-block {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .top-deals-slider-block {
    width: 100%;
  }
  .top-deals-slider-block .slider_prev, .top-deals-slider-block .slider_next {
    display: none;
    visibility: hidden;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .deal-img-block {
    height: 300px;
  }
}

.contact {
  width: 100%;
  padding: 50px 0;
  border-bottom: 1px solid rgba(119, 131, 143, 0.1);
}

.contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-help {
  width: 23%;
}

.contact-help .help-phone .help-link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-help .help-phone .help-link-block i {
  display: inline-block;
  font-size: 40px;
  color: #297cbb;
}

.contact-help .help-phone .help-link-block .help-link__number {
  margin-left: 20px;
  font-size: 18px;
}

.contact-help .help-phone .help-link-block .help-link__number span {
  display: block;
  padding-top: 10px;
  color: #297cbb;
}

.contact-help .help-phone .help-link-block .help-link__number span b {
  font-weight: 500;
}

.contact-mailing {
  width: 25%;
}

.contact-mailing .mailing-text {
  font-size: 16px;
  line-height: 1.7;
}

.contact-mailing .mailing-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.contact-mailing .mailing-form__mail {
  border: none;
  border: 2px solid rgba(103, 116, 124, 0.2);
  border-radius: 3px;
  padding: 20px 0 20px 20px;
}

.contact-mailing .mailing-form__mail::-webkit-input-placeholder {
  color: rgba(103, 116, 124, 0.9);
  font-size: 14px;
}

.contact-mailing .mailing-form__mail:-ms-input-placeholder {
  color: rgba(103, 116, 124, 0.9);
  font-size: 14px;
}

.contact-mailing .mailing-form__mail::-ms-input-placeholder {
  color: rgba(103, 116, 124, 0.9);
  font-size: 14px;
}

.contact-mailing .mailing-form__mail::placeholder {
  color: rgba(103, 116, 124, 0.9);
  font-size: 14px;
}

.contact-mailing .mailing-form__btn {
  background-color: #1d508d;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: 500;
  margin-left: 15px;
  padding: 0 15px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact-mailing .mailing-form__btn:hover {
  -webkit-box-shadow: 0 4px 11px rgba(29, 80, 141, 0.35);
          box-shadow: 0 4px 11px rgba(29, 80, 141, 0.35);
}

.contact-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-soc__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  color: #67747c;
  border: 2px solid rgba(103, 116, 124, 0.2);
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact-soc__link:hover {
  background-color: #297cbb;
  border-color: #297cbb;
  color: #fff;
}

.contact-info {
  display: block;
  margin: 20px 0;
}

.contact-info .info-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

@media (max-width: 1370px) {
  .contact-mailing .mailing-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-mailing .mailing-form__mail, .contact-mailing .mailing-form__btn {
    margin: 10px 0;
  }
  .contact-mailing .mailing-form__btn {
    height: 60px;
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .contact-help {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .contact-help .help-phone {
    margin: 20px 0;
  }
  .contact .contact-mailing {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
  }
}

@media (max-width: 550px) {
  .contact-block .contact-company, .contact-block .contact-service, .contact-block .contact-support {
    width: 70%;
    margin: 20px 0;
  }
}

.buy {
  width: 100%;
  border-bottom: 1px solid rgba(119, 131, 143, 0.1);
  padding: 50px 0;
}

.buy-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buy-logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #297cbb;
  font-size: 50px;
}

.buy-logo__link span {
  font-size: 25px;
  font-weight: 500;
  padding-left: 10px;
  color: #3b444f;
}

.payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment .payment-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.payment .payment-type img {
  width: 100%;
  height: 30px;
}

.buy-currency-btn, .buy-language-btn {
  display: block;
  width: 260px;
  border: none;
  border: 2px solid rgba(103, 116, 124, 0.1);
  border-radius: 5px;
  background-color: transparent;
  text-align: left;
  padding: 20px;
  padding-right: 40px;
  margin: 0 10px;
  color: #67747c;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  outline: none;
}

.buy-currency-btn:after, .buy-language-btn:after {
  content: '\203A';
  position: absolute;
  right: 15px;
  top: 30%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 20px;
}

.buy-language-dropdown, .buy-currency-dropdown {
  position: absolute;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 9px #297cbb13, 0 5px 9px rgba(119, 131, 143, 0.075);
          box-shadow: 0 5px 9px #297cbb13, 0 5px 9px rgba(119, 131, 143, 0.075);
  visibility: hidden;
  opacity: 0;
}

.buy-language-dropdown.openned, .buy-currency-dropdown.openned {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.buy-language-dropdown:after, .buy-currency-dropdown:after {
  content: '';
  position: absolute;
  border: 20px solid transparent;
  border-top: 20px solid #fff;
  bottom: -30px;
  right: 15px;
}

.buy-language-dropdown .buy-dropdown__link__language, .buy-language-dropdown .buy-dropdown__link__currency, .buy-currency-dropdown .buy-dropdown__link__language, .buy-currency-dropdown .buy-dropdown__link__currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  color: #67747c;
  font-weight: 400;
  padding: 10px 0;
  border-bottom: 1px solid rgba(103, 116, 124, 0.3);
}

.buy-language-dropdown .buy-dropdown__link__language.checked > .buy-dropdown__link__marker, .buy-language-dropdown .buy-dropdown__link__language.checked > .buy-dropdown__link__span, .buy-language-dropdown .buy-dropdown__link__currency.checked > .buy-dropdown__link__marker, .buy-language-dropdown .buy-dropdown__link__currency.checked > .buy-dropdown__link__span, .buy-currency-dropdown .buy-dropdown__link__language.checked > .buy-dropdown__link__marker, .buy-currency-dropdown .buy-dropdown__link__language.checked > .buy-dropdown__link__span, .buy-currency-dropdown .buy-dropdown__link__currency.checked > .buy-dropdown__link__marker, .buy-currency-dropdown .buy-dropdown__link__currency.checked > .buy-dropdown__link__span {
  color: #297cbb;
}

.buy-language-dropdown .buy-dropdown__link__language .buy-dropdown__link__marker, .buy-language-dropdown .buy-dropdown__link__currency .buy-dropdown__link__marker, .buy-currency-dropdown .buy-dropdown__link__language .buy-dropdown__link__marker, .buy-currency-dropdown .buy-dropdown__link__currency .buy-dropdown__link__marker {
  font-size: 15px;
}

.buy-language-dropdown .buy-dropdown__link__language:hover, .buy-language-dropdown .buy-dropdown__link__currency:hover, .buy-currency-dropdown .buy-dropdown__link__language:hover, .buy-currency-dropdown .buy-dropdown__link__currency:hover {
  color: #297cbb;
}

.buy-language-block {
  position: relative;
}

.buy-language-block .buy-language-dropdown {
  min-width: 230px;
  -webkit-transform: translate(10px, -360px);
          transform: translate(10px, -360px);
  padding: 20px 14px;
}

.buy-currency-block {
  position: relative;
}

.buy-currency-block .buy-currency-dropdown {
  -webkit-transform: translate(10px, -285px);
          transform: translate(10px, -285px);
  min-width: 100px;
  padding: 20px 8px;
}

@media (max-width: 992px) {
  .buy {
    padding-top: 0;
  }
  .buy-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .buy-block .buy-logo {
    margin: 50px 0;
  }
}

@media (max-width: 768px) {
  .payment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .payment .payment-type, .payment .buy-language-block, .payment .buy-currency-block {
    width: 70%;
    margin: 15px 0;
  }
  .payment .payment-type .buy-language-btn, .payment .payment-type .buy-currency-btn, .payment .buy-language-block .buy-language-btn, .payment .buy-language-block .buy-currency-btn, .payment .buy-currency-block .buy-language-btn, .payment .buy-currency-block .buy-currency-btn {
    width: 100%;
  }
  .payment .payment-type img, .payment .buy-language-block img, .payment .buy-currency-block img {
    width: 70%;
    margin: 0 auto;
  }
}

footer {
  width: 100%;
  padding: 20px 0;
}

footer .footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-menu .footer-navbar {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-menu .footer-navbar__link {
  display: inline-block;
  font-weight: 400;
  -webkit-transition: all 0.05s ease;
  transition: all 0.05s ease;
}

.footer-menu .footer-navbar__link:hover {
  color: #297cbb;
  text-decoration: underline;
  padding-bottom: 5px;
}

.footer-menu .footer-navbar__icon {
  display: inline-block;
  color: #fff;
  font-weight: 400;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer-menu .footer-navbar__icon:hover {
  opacity: 0.7;
}

@media (max-width: 992px) {
  footer .footer-block {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-block .footer-reserve {
    width: 100%;
    margin: 0 auto;
  }
  footer .footer-block .footer-menu {
    width: 100%;
    padding: 20px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-block .footer-menu .footer-navbar {
    width: 90%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */