.buy {
    width: 100%;
    border-bottom: 1px solid rgba($gray-lighten, 0.1);
    padding: 50px 0;
    &-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.buy-logo {
    display: flex;
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $blue;
        font-size: 50px;
        span {
            font-size: 25px;
            font-weight: $medium;
            padding-left: 10px;
            color: $gray-dark;
        }
    }
}

.payment {
    display: flex;
    .payment-type {
        display: flex;
        align-items: center;
        width: 300px;
        img {
            width: 100%;
            height: 30px;
        }
    }
}

.buy-currency-btn, .buy-language-btn {
    display: block;
    border: none;
    border: 2px solid rgba($gray-light, 0.1);
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
    padding-right: 40px;
    margin: 0 10px;
    color: $gray-light;
    font-size: 18px;
    font-weight: $medium;
    cursor: pointer;
    position: relative;
    outline: none;
    &:after {
        content: '\203A';
        position: absolute;
        right: 15px;
        top: 30%;
        transform: rotate(90deg);
        font-size: 20px;
    }
}

.buy-language-dropdown, .buy-currency-dropdown {
    position: absolute;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 5px 9px #297cbb13, 0 5px 9px rgba(119, 131, 143, 0.075);
    visibility: hidden;
    opacity: 0;
    &:after {
        content: '';
        position: absolute;
        border: 20px solid transparent; 
        border-top: 20px solid $white;
        bottom: -30px;
        right: 15px;
    }
    .buy-dropdown__link {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        color: $gray-light;
        font-weight: $normal;
        padding: 10px 0;
        border-bottom: 1px solid rgba($gray-light, 0.3);
        &__marker {
            font-size: 15px;
        }
        &:hover {
            color: $blue;
        }
    }
}


.buy-language-block {
    position: relative;
    .buy-language-btn {

    }
    .buy-language-dropdown {
        min-width: 230px;
        transform: translate(10px, -360px);
        padding: 20px 14px;
        .buy-dropdown__link {
            
            &__marker {
                
            }
            &__language {
                
            }
        }
    }
}

.buy-currency-block {
    position: relative;
    .buy-currency-btn {

    }
    .buy-currency-dropdown {
        transform: translate(10px, -285px);
        min-width: 100px;
        padding: 20px 8px;
        .buy-dropdown__link {
            &__marker {

            }
            &__currency {

            }
        }
    }
}

@media (max-width: 992px) {
    .buy {
        padding-top: 0;
        &-block {
            flex-direction: column;

            .buy-logo {
                margin: 50px 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .payment {
        flex-direction: column;
        align-items: center;

        .payment-type, .buy-language-block, .buy-currency-block {
            width: 70%;
            margin: 15px 0;
            .buy-language-btn, .buy-currency-btn {
                width: 100%;
            }
            img {
                width: 70%;
                margin: 0 auto;
            }
        }

    }
}