$white: #fff;
$black: #000;
$blue: #297cbb;
$blue-dark: #1d508d;
$blue-lighten: #ebf0f7;
$gray-dark: #3b444f;
$gray-light: #67747c;
$gray-lighten: #77838f;
$red-light: #de4437;
$green-yellow: #b0d12b;
