footer {
    width: 100%;
    padding: 20px 0;
    .footer-block {
        display: flex;
        justify-content: space-between;
    }
}

.footer-menu {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    .footer-navbar {
        width: 70%;
        display: flex;
        justify-content: space-around;
        &__link {
            display: inline-block;
            font-weight: $normal;
            transition: all 0.05s ease;
            &:hover {
                color: $blue;
                text-decoration: underline;
                padding-bottom: 5px;
            }
        }
        &__icon {
            display: inline-block;
            color: $white;
            font-weight: $normal;
            transition: all 0.2s ease;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

@media (max-width: 992px) {
    footer {
        
        .footer-block {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .footer-reserve {
                width: 100%;
                margin: 0 auto;
            }

            .footer-menu {
                width: 100%;
                padding: 20px 0;
                justify-content: space-between;
                
                .footer-navbar {
                    width: 90%;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
            }
            
        }
    }
}