.header {
    background: url(../img/header-bg.jpg) no-repeat;
    background-position: center;
    background-size: auto;
    width: 100%;
    &-body {
        width: 100%;
    }
    &-head {
        width: 100%;
        .header-contact {
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgba($white, 0.3);
            .header-tel-block {
                display: flex;
                padding-left: 50px;
                .header-tel-link {
                    display: block;
                    border-right: 1px solid rgba($white, 0.3);
                    color: rgba($white, 0.7);
                    padding: 0 20px;
                    &:hover {
                        opacity: 0.6;
                    }
                }
                .header-mail-link {
                    display: block;
                    color: rgba($white, 0.7);
                    padding: 0 20px;
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
            .header-sing-block {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: rgba($white, 0.9);
                padding-right: 50px;
                .header-soc {
                    border-right: 1px solid rgba($white, 0.3);
                    padding: 0 20px;
                    display: flex;
                    &__link {
                        width: 20px;
                        height: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: rgba($white, 0.9);
                        margin: 0 5px;
                        padding: 5px;
                        border-radius: 50%;
                        transition: all 0.3s ease;
                        &:hover {
                            background-color: $white;
                            color: rgba($black, 0.9);
                            box-shadow: 0px 2px 15px 1px $white;
                            transform: translateY(-2px);
                        } 
                    }
                }
                .header-currency {
                    padding: 0 20px;
                    text-transform: uppercase;
                    cursor: pointer;
                    position: relative;
                    &:after {
                        content: '\203A';
                        position: absolute;
                        transform: rotate(90deg);
                        right: 4px;
                        top: -35%;
                        font-size: 25px;
                    }
                    &-list {
                        position: absolute;
                        top: 80px;
                        right: 0;
                        background-color: $white;
                        padding: 5px 17px;
                        border-radius: 5px;
                        z-index: 5;
                        opacity: 0;
                        visibility: hidden;
                        &:after {
                            content: '';
                            position: absolute;
                            right: 0;
                            top: 0;
                            border: 10px solid transparent; 
                            border-bottom: 10px solid $white;
                            opacity: 0;
                        }

                        &.active {
                            top: 30px;
                            opacity: 1;
                            visibility: visible;
                            transition: 0.2s ease-out;
                            &:after {
                                opacity: 1;
                                top: -17px;
                                right: 7px;
                                transition-delay: 0.3s;
                            }
                        }
                        .header-currency__link {
                            display: block;
                            margin: 5px 0;
                            color: $gray-lighten;
                            &:hover {
                                color: $blue;
                            }
                            &.checked {
                                color: $blue;
                            }
                        }
                        
                    }
                    &-link {
                        padding: 25px 0;
                        &:hover {
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }
}


.header-sing {
    border-right: 1px solid rgba($white, 0.3);
    padding: 0 20px;
    &__link {
        color: rgba($white, 0.9);  
        position: relative;
        &:hover {
            opacity: 0.6; 
        }
    }
    .sing-block {
        height: 0;
        position: absolute;
        right: 9%;
        top: 150px;
        opacity: 0;
        display: flex;
        flex-direction: column;
        background-color: $white;
        border-radius: 3px;
        z-index: 7;
        &:after {
            content: '';
            position: absolute;
            border: 12px solid transparent;
            border-bottom: 15px solid #fff;
            top: 10px;
            right: 80px;
        }
        &.opened {
            height: 100vh;
            top: 81px;
            opacity: 1;
            transition: 0.3s ease;
            &:after {
                top: -27px;
                transition-delay: 0.4s;
            }
        }
        &-title {
            font-size: 20px;
            color: $gray-dark;
            font-weight: $medium;
            text-align: center;
            display: block;
            padding: 30px 0;
            margin-bottom: 20px;
            border-bottom: 1px solid rgba($gray-lighten, 0.2);
        }
        &-wrap {
            .sing-form {
                display: flex;
                flex-direction: column;
                padding: 0 50px;
                .sing-form-mail, .sing-form-pass {
                    position: relative;
                }
                .sing-mail, .sing-pass {
                    min-width: 300px;
                    padding: 15px;
                    padding-right: 0;
                    border: none;
                    border: 2px solid rgba($gray-lighten, 0.1);
                    border-radius: 5px;
                    margin: 10px 0;
                    &::placeholder {
                        font-size: 14px;
                        color: rgba($gray-light, 0.8);
                    }
                }
                .sing-mail-icon, .sing-pass-icon {
                    position: absolute;
                    right: 15px;
                    top: calc(50% - 11px);
                    color: rgba($gray-lighten, 0.2);
                    font-size: 22px;
                }
                .sing-login-btn {
                    display: block;
                    border: none;
                    background-color: $blue-light;
                    color: $white;
                    font-size: 17px;
                    font-weight: $medium;
                    padding: 20px 0;
                    margin: 10px 0;
                    border-radius: 3px;
                    cursor: pointer;
                    transition: 0.2s ease-out;
                    &:hover {
                        transform: translateY(-4px);
                        box-shadow: 0 4px 11px $blue-darken;
                    }
                }
                &-row {
                    height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .sing-pass-ckb {
                        position: relative;
                        visibility: hidden;
                        margin-right: 10px;
                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            width: 15px;
                            height: 15px;
                            border: 2px solid rgba($gray-light, 0.3);
                            border-radius: 5px;
                            visibility: visible;
                        }
                        &:after {
                            content: '\2714';
                            position: absolute;
                            top: 0;
                            width: 19px;
                            height: 19px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 17px;
                            color: $white;
                            background-color: $blue-light;
                            border-radius: 5px;
                            visibility: visible;
                            opacity: 0;
                            transition: 0.4s ease;
                        }
                        &:checked:after {
                            opacity: 1;
                            transition: 0.4s ease;
                        }
                    }
                    .sing-pass-label {
                        color: $gray-light;
                    }
                    .sing-pass-forgot {
                        text-decoration: underline;
                        color: $blue-light;
                        font-size: 15px;
                    }
                }
            }
            .sing-block-soc {
                padding: 25px 0;
                margin: 25px 0;
                text-align: center;
                border-top: 1px solid rgba($gray-lighten, 0.2);
                .sing-block-text {
                    display: block;
                    padding: 10px 0;
                    color: rgba($gray-light, 0.8);
                    font-size: 15px;
                }
                .sing-block__link {
                    
                    &_fb, &_tw {
                        display: inline-block;
                        min-width: 100px;
                        padding: 15px 25px;
                        margin: 10px 15px;
                        border-radius: 3px;
                        font-size: 15px;
                        color: $white;
                        font-weight: $normal;
                        transition: 0.2s ease;
                        i {
                            margin-right: 5px;
                        }
                        &:hover {
                            transform: translateY(-3px);
                        }
                    }
                    &_fb {
                        background-color: $blue-facebook;
                        &:hover {
                            box-shadow: 0 4px 11px rgba(57, 88, 153, 0.35);
                        }
                    }
                    &_tw {
                        background-color: $blue-twitter;
                        box-shadow: 0 4px 11px rgba(3, 169, 224, 0.35);;
                    }
                }
            }
        }
    }
}

.header-top {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    .header-logo {
        display: flex;
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            font-size: 40px;
            span {
                font-size: 20px;
                font-weight: $bold;
                padding-left: 10px;
            }
        }
    }
    .header-search {
        &-form {
            display: flex;
            align-items: center;
            &__area {
                visibility: hidden;
                transform: scale(0);
                width: 0;
            }          
            &__btn {
                border: none;
                color: $white;
                background: transparent;
                color: $white;
                font-size: 18px;
                font-weight: $thin;
                margin-left: 30px;
                cursor: pointer;
                & > i {
                    margin-left: 50px;
                    font-size: 20px;
                    margin-left: 10px;
                }
            }
        }
    }
}

.header-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .header-navbar {
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &__item {
            margin-bottom: 30px;
        }
        &__link {
            display: block;
            color: $white;
            font-weight: $medium;
            padding: 10px;
            position: relative;
            transition: all 0.05s ease;

            &:hover {
                opacity: 0.7;
            }
            &:after {
                content: '\203A';
                position: absolute;
                transform: rotate(90deg);
                right: -20px;
                top: 10%;
                font-size: 25px;
            }
        }
        &__icon {
            display: block;
            color: $white;
            font-weight: $normal;
            margin-left: 10px;
            transition: all 0.2s ease;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.burer-menu {
    display: none;
}

.header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    &__title-block {
        padding: 150px 0;
        padding-bottom: 250px;
    }
    .header-title {
        font-size: 60px;
        font-weight: $thin;
        color: $white;
    }

    .header-text {
        font-size: 20px;
        color: $white;
        font-weight: $thin;
    }
}


.header-navbar__hidden-block {
    padding-top: 40px;
    position: absolute;
    transform: translate(-105px, 50px) scale(0);
    opacity: 0;  
    transition: 0.2s ease-out;
    .hidden {
        background-color: $white;
        min-width: 150px;
        padding: 10px 20px;
        border-radius: 5px; 
        &:after {
            content: '';
            position: absolute;
            right: 15px;
            top: 50px;
            border: 10px solid transparent; 
            border-bottom: 10px solid $white;
    
        }
        .navbar-hidden__link {
            color: $gray-lighten;
            border-bottom: 1px solid rgba($gray-light, 0.2);
            display: block;
            font-size: 17px;
            font-weight: $normal;
            padding: 2px 0;
            margin: 15px 0;
            &:hover {
                color: rgba($blue-dark, 0.9);
            }
        }
    }
    &.showed {
        transform: translate(-105px, -20px) scale(1);
        opacity: 1;
        .hidden:after {
            top: 20px;
            transition-delay: 0.3s;
        }
    }
}

@media (max-width: 1500px) {
    .header-navbar {
        width: 100%;
    }
}

@media (max-width: 1270px) {
    .header-menu {
        .header-navbar {
            width: 100%;
            padding: 20px 0;
        }
    }
}

@media (max-width: 1200px) {
    .header {
        &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgba($white, 0.2);

            .header-menu {
                position: absolute;
                width: 100%;
                height: 0;
                opacity: 0;
                visibility: hidden;
                top: 80px;
                background-color: $white;
                transition: all 0.3s ease;
                z-index: 5;

                .header-navbar {
                    width: 100%;
                    display: block;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    &__item {
                        display: flex;
                        width: 100%;
                        margin-bottom: 0;
                    }
                    &__link {
                        display: block;
                        width: 100%;
                        color: $gray-light;
                        margin-left: 20px;

                        &:hover {
                            color: $blue;
                        }
                        
                        &:after {
                            right: 20px;    
                        }
                    }

                    &__icon {
                        display: none;
                    }
                }

                &_open {
                    height: 100vh;
                    opacity: 1;
                    visibility: visible;
                }

            }

            // Menu Burger

            .burger-menu {
                display: block;    
                width: 25px;
                height: 14px;
                margin-right: 20px;
                position: relative; 
                z-index: 99;
                cursor: pointer;
                transition: all 0.3s ease;

                .burger-line {
                    position: absolute;
                    top: calc(50% - 1px);
                    width: 100%;
                    height: 2px;
                    background-color: $white; 
                    transform: translateX(0) scale(1);
                    transition: all 0.3s ease;
                }

                &:before, &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $white;
                    transition: all 0.3s ease;
                }

                &:before {
                    top: 0;
                }

                &:after {
                    bottom: 0;
                }
                &_open {
                    transition: all 0.3s ease;
                    &:before {
                        transform: rotate(45deg);
                        top: 6px;
                        transition: all 0.3s ease;
                    }

                    .burger-line {
                        transform: translateX(-30px) scale(0);
                        transition: all 0.3s ease;
                    }

                    &:after {
                        bottom: 6px;
                        transform: rotate(-45deg);
                        transition: all 0.3s ease;
                    }
                }
            }
            
            .header-contact {
                width: 5%;
                border: none;
                .header-tel-block {
                    display: none;
                }
                .header-sing-block {
                    .header-soc {
                        display: none;
                    }
                    .header-sing {
                        border-right: none;
                        padding: 0;
                        margin: 0 20px;
                        span {
                            display: none;
                        }
                    }
                    .header-currency {
                        display: none;
                    }
                }
            }

            .header-top {
                padding-left: 0;
                .header-logo {
                    &__link {
                        font-size: 35px;
                    }
                }
                .header-search {
                    display: none;
                }
            }
            
        }

        &-content {
            
            &__title-block {
                padding: 20px 0;
                padding-bottom: 400px;
            }
        }

        .header-navbar-hidden-block {
            
        }
    }
}
