.header {
    background: url(../img/header-bg.jpg) no-repeat;
    background-position: center;
    background-size: auto;
    width: 100%;
    &-body {
        width: 100%;
    }
    &-head {
        width: 100%;
        .header-contact {
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgba($white, 0.3);
            .header-tel-block {
                display: flex;
                padding-left: 50px;
                .header-tel-link {
                    display: block;
                    border-right: 1px solid rgba($white, 0.3);
                    color: rgba($white, 0.7);
                    padding: 0 20px;
                    &:hover {
                        opacity: 0.6;
                    }
                }
                .header-mail-link {
                    display: block;
                    color: rgba($white, 0.7);
                    padding: 0 20px;
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
            .header-sing-block {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: rgba($white, 0.9);
                padding-right: 50px;
                .header-soc {
                    border-right: 1px solid rgba($white, 0.3);
                    padding: 0 20px;
                    display: flex;
                    &__link {
                        width: 20px;
                        height: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: rgba($white, 0.9);
                        margin: 0 5px;
                        padding: 5px;
                        border-radius: 50%;
                        transition: all 0.3s ease;
                        &:hover {
                            background-color: $white;
                            color: rgba($black, 0.9);
                            box-shadow: 0px 2px 15px 1px $white;
                            transform: translateY(-2px);
                        } 
                    }
                }
                .header-sing {
                    border-right: 1px solid rgba($white, 0.3);
                    padding: 0 20px;
                    &__link {
                        color: rgba($white, 0.9);  
                        &:hover {
                            opacity: 0.6; 
                        }
                    }
                }
                .header-currency {
                    padding: 0 20px;
                    text-transform: uppercase;
                    cursor: pointer;
                    position: relative;
                    &:after {
                        content: '\203A';
                        position: absolute;
                        transform: rotate(90deg);
                        right: 4px;
                        top: -35%;
                        font-size: 25px;
                    }
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}

.header-top {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    .header-logo {
        display: flex;
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            font-size: 40px;
            span {
                font-size: 20px;
                font-weight: $bold;
                padding-left: 10px;
            }
        }
    }
    .header-search {
        &-form {
            display: flex;
            align-items: center;
            &__area {
                visibility: hidden;
                transform: scale(0);
                width: 0;
            }
            &__label {
                color: $white;
                font-size: 18px;
                font-weight: $thin;
                margin-left: 50px;
            }           
            &__btn {
                border: none;
                color: $white;
                background: transparent;
                font-size: 20px;
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }
}

.header-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .header-navbar {
        width: 70%;
        display: flex;
        justify-content: space-around;
        &__link {
            display: inline-block;
            color: $white;
            font-weight: $medium;
            padding: 10px;
            position: relative;
            transition: all 0.05s ease;

            &:hover {
                opacity: 0.7;
            }
            &:after {
                content: '\203A';
                position: absolute;
                transform: rotate(90deg);
                right: -20px;
                top: 10%;
                font-size: 25px;
            }
        }
        &__icon {
            display: inline-block;
            color: $white;
            font-weight: $normal;
            transition: all 0.2s ease;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.burer-menu {
    display: none;
}

.header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    &__title-block {
        padding: 150px 0;
        padding-bottom: 250px;
    }
    .header-title {
        font-size: 60px;
        font-weight: $thin;
        color: $white;
    }

    .header-text {
        font-size: 20px;
        color: $white;
        font-weight: $thin;
    }
}


.header-navbar-hidden-block {
    background-color: $white;
    min-width: 150px;
    padding: 10px 20px;
    border-radius: 5px;
    transform: translate(-105px, 50px);
    opacity: 0;
    position: absolute;
    transition: 0.2s ease-out;
    &.showed {
        transform: translate(-105px, 25px);
        opacity: 1;
        &:after {
            top: -18px;
            transition-delay: 0.3s;
        }
    }
    &:after {
        content: '';
        position: absolute;
        right: 15px;
        top: 0;
        border: 10px solid transparent; 
        border-bottom: 10px solid $white;

    }
    .navbar-hidden__link {
        color: $gray-lighten;
        border-bottom: 1px solid rgba($gray-light, 0.2);
        display: block;
        font-size: 17px;
        font-weight: $normal;
        padding: 2px 0;
        margin: 15px 0;
        &:hover {
            color: rgba($blue-dark, 0.9);
        }
    }
}


@media (max-width: 1270px) {
    .header-menu {
        .header-navbar {
            width: 100%;
            padding: 20px 0;
        }
    }
}

@media (max-width: 1200px) {
    .header {
        &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgba($white, 0.2);

            .header-menu {
                position: absolute;
                width: 100%;
                height: 0;
                opacity: 0;
                visibility: hidden;
                top: 80px;
                background-color: $white;
                transition: all 0.3s ease;
                z-index: 5;

                .header-navbar {
                    width: 100%;
                    flex-direction: column;
                    justify-content: space-around;

                    &__link {
                        display: block;
                        color: $gray-light;
                        margin: 5px 0;
                        margin-left: 20px;

                        &:hover {
                            color: $blue;
                        }
                        
                        &:after {
                            right: 20px;
                        }
                    }

                    &__icon {
                        display: none;
                    }
                }

                &_open {
                    height: 100vh;
                    opacity: 1;
                    visibility: visible;
                }

            }

            // Menu Burger

            .burger-menu {
                display: block;    
                width: 25px;
                height: 14px;
                margin-right: 20px;
                position: relative; 
                z-index: 99;
                cursor: pointer;
                transition: all 0.3s ease;

                .burger-line {
                    position: absolute;
                    top: calc(50% - 1px);
                    width: 100%;
                    height: 2px;
                    background-color: $white; 
                    transform: translateX(0) scale(1);
                    transition: all 0.3s ease;
                }

                &:before, &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $white;
                    transition: all 0.3s ease;
                }

                &:before {
                    top: 0;
                }

                &:after {
                    bottom: 0;
                }
                &_open {
                    transition: all 0.3s ease;
                    &:before {
                        transform: rotate(45deg);
                        top: 6px;
                        transition: all 0.3s ease;
                    }

                    .burger-line {
                        transform: translateX(-30px) scale(0);
                        transition: all 0.3s ease;
                    }

                    &:after {
                        bottom: 6px;
                        transform: rotate(-45deg);
                        transition: all 0.3s ease;
                    }
                }
            }
            
            .header-contact {
                width: 5%;
                border: none;
                .header-tel-block {
                    display: none;
                }
                .header-sing-block {
                    .header-soc {
                        display: none;
                    }
                    .header-sing {
                        border-right: none;
                        padding: 0;
                        margin: 0 20px;
                        span {
                            display: none;
                        }
                    }
                    .header-currency {
                        display: none;
                    }
                }
            }

            .header-top {
                padding-left: 0;
                .header-logo {
                    &__link {
                        font-size: 35px;
                    }
                }
                .header-search {
                    display: none;
                }
            }
            
        }

        &-content {
            
            &__title-block {
                padding: 20px 0;
                padding-bottom: 400px;
            }
        }
    }
}

@media (max-width: 768px) {
    
}