.tour {
    width: 100%;
    position: relative;
    transform: translateY(-120px);
    .tour-search {

        width: 80%;
        margin: 0 auto;

        &-header {
            width: 100%;
            padding-bottom: 40px;
        }
        &-navbar {
            width: 100%;
            display: flex;
            .tour-search-link {
                display: flex;
                align-items: center;
                color: $white;
                margin-right: 60px;
                i {
                    font-size: 30px;    
                    padding: 12px;
                }
                &.checked i {
                    
                    border-radius: 50%;             
                    background-color: $blue;
                }
            }
        }
        &-content {
            min-height: 130px;
            display: flex;
            align-items: center;
            background-color: $white;
            border-radius: 5px;
            box-shadow: 0px 14px 50px 0px rgba(32, 32, 32, 0.15);
            overflow: hidden;
            &.opacity-0 {
                visibility: hidden;
                opacity: 0;
                transition: 0.4s ease-out;
            }
            .tour-form-row {
                width: 100%;
                height: inherit;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }
}

.search-link, .date-link, .type-link {
    display: block;
    margin-top: 20px;
    color: rgba($black, 0.9);
    font-weight: $medium;
    padding-bottom: 15px;
    transition: all 0.2s ease;
    cursor: pointer;
    &__icon {
        color: $blue;
        margin-right: 10px;
    }
}

.search-link {
    &:hover {
        .search-link__text {
            opacity: 0.6;
        }
    }
}

.tour {
    &-block {
        &-search, &-date, &-type {
            width: 24%;
            display: flex;
            flex-direction: column;
            border-bottom: 2px solid rgba($black, 0.1);
            .search-title, .date-title, .type-title {
                display: block;
                color: rgba($black, 0.6);
                font-weight: $normal;
                &:hover {
                    color: rgba($black, 0.6);
                }
            }
        }
    }
}

.tour-search__btn {
    height: 60px;
    color: $white;
    background: $blue;
    border: none;
    border-radius: 3px;
    padding: 0 60px;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
        transform: translateY(-4px);
    }
}

@media (max-width: 1270px) {
    .tour {
        .tour-search {
            width: 95%;
        
            .tour-search-header {
                padding-left: 0;
                overflow-x: auto;
            }
        }
    }
    .tour {
        &-block {
            &-search, &-date, &-type {
                margin: 0 10px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .tour {
        .tour-search {
            transform: translateY(-170px);

            &-content {
                
                .tour-form-row {
                    justify-content: center;
                    flex-direction: column;
                    padding: 20px 0;

                    .tour {
                        &-block {
                            &-search, &-date, &-type {
                                width: 90%;
                                margin: 10px 0;

                            }
                        }
                    }
                }
            }
        }

        .tour-search__btn {
            width: 90%;
        }

    }
}