.trending {
    width: 100%;
    .trending-navbar {
        width: 100%; 
        .trending-list-block {
            max-width: 750px;
            margin: 0 auto;
            padding: 20px 0;
            .trending-list {
                display: flex;
                justify-content: space-between;
                &-link {
                    color: $gray-dark;
                    font-weight: $bold;
                }
            }
        }
    }
}
.trending-item {
    &-content {
        .trending-content-row {
            display: flex;
            flex-wrap: wrap;
            .trending-content-block {
                width: 300px;
            }
        }
    }
}

.trending-content-block-top {
    height: 220px;
    background: url(../img/trending/stonehenge.jpg);
    background-size: cover;
    position: relative;
    .trending-content-top-link {
        display: block;
        width: 100%;
        height: 100%;
    }
    .trending-content-top-offer {
        position: absolute;
        top: 0;
    }
    .trending-content-top-like {
        position: absolute;
        top: 0;
        right: 0;
    }
    .trending-content-top-price {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}